/* General code */

body,
html {
    margin: 0 auto;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

h1 {
    font-size: 50px;
    font-weight: 500px;
}


h4 {
    margin: 2px;
}

/* Header and hero code */

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/hero-bg.webp");
    min-height: 100%;
    min-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.nav {
    padding: 20px;
    
    width: 100%;
    margin: 0 auto; 
    
    position: fixed;
    
    z-index: 99;
    
    
}

.inside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}

    

#logo {
    width: 150px;
    height: 30px;
    background: url("images/logo2.webp") no-repeat;
}


button {
    border: 2px solid white;
    font-weight: 100px;
    border-radius: 20px;
    padding: 10px;
    width: 140px;
    height: 38px;
    color: white;
    background-color: transparent;
    
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 750px;
    transform: translate(-50%, -50%);
    color: white;
}

.subtitle {
    text-transform: capitalize;
    letter-spacing: 2px;
    word-spacing: 4px;
    font-size: 40px;

}

.text {
    letter-spacing: 0.5px;
    word-spacing: 2px;
    font-size: 20px;
}

/* Showcase scetion */

.section {

    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.wrapper {
    display: flex;
    width: 75%;
    margin: 0px auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 48px;

}

.img {
    text-align: center;
    box-shadow: 0 9px 38px 0 rgba(174, 174, 174, 0.24);
    font-size: 15px;
    padding: 10px;
    color: rgb(56, 56, 56);
    font-weight: lighter;
    background-color: white;

}
.homeone{
    background: no-repeat url("images/home1.webp");
    height: 440px;
    width: 350px;
    transition: all 0.3s ease-out 0s;
}

.homeone:hover{
    
    background-image: linear-gradient( rgb(254, 197, 0.632),  rgba(254, 198, 57, 0.632)),url("images/home1.webp");
    box-shadow: 0 9px 38px 0 rgba(174, 174, 174, 0.24);
}

img {
    width: 350px;
}


/* Feature scetion */

.feature{
    background-color: #f6f6f6;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    padding-bottom: 0px;
}

.featurewrap{
    
    width: 75%;
    margin: 120px auto;
    position: relative;
}

.featurewrap > h1 {
    margin-bottom: 70px;
    font-weight: lighter;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: rgb(43, 45, 47);
    font-size: 36px;
    padding-left: 20px;
}

.featuredetails {
    display: flex;
    margin-top: 30px;
}

.grouprow{
    display: flex;
    width: 100%;
   
    gap: 10px;
}


.grouptext > p {
    line-height: 1.5;
}

.grouptext {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 5px;
    
}

.icon{
    width: 50px;
    height: 50px;
    align-self: center;
    padding-left: 15px;
}

/* Footer scetion */

.footer{
    background-color: #444;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 50px;
    margin: 0;
}

.footerwrap{
    width: 75%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerwrap > h1 {
    color: white;
    font-size: 30px;
    font-weight: lighter;
    letter-spacing: 2.5px;
    font-family: 'Montserrat', sans-serif;
}